services:
  lmwf_dsn:
    build:
      context: ./docker
    volumes:
      - .:/usr/src/myapp
    tty: true
    post_start:
      - command: /usr/local/init.sh
  phpcs_dsn:
    build:
      dockerfile: docker/phpcs/Dockerfile
    tty: true
    working_dir: /usr/src/lmwf
    volumes:
      - ./src:/usr/src/lmwf/src
      - ./tests:/usr/src/lmwf/tests
  phpunit_dsn:
    image: jitesoft/phpunit:8.4
    command: sleep infinity
    volumes:
      - "./phpunit:/app/phpunit"
      - "./src:/app/src"
      - "./tests:/app/tests"
      - "./vendor:/app/vendor"