services:
  lmwf_dsn:
    build:
      context: ./docker
    volumes:
      - .:/usr/src/myapp
    tty: true
    post_start:
      - command: /usr/local/init.sh
  phpcs_dsn:
    build:
      dockerfile: docker/phpcs/Dockerfile
    tty: true
    working_dir: /usr/src/lmwf
    volumes:
      - ./src:/usr/src/lmwf/src
      - ./tests:/usr/src/lmwf/tests