services:
  lmwf_dsn:
    image: php:8.4-cli
    volumes:
      - .:/app
    working_dir: /app
  composer_dsn:
    image: composer
    command: composer install
    depends_on:
      - lmwf_dsn
    volumes:
      - .:/app