services:
  lmwf_dsn:
    build:
      context: ./docker/lmwf
    command: sleep infinity
    volumes:
      - .:/app
    working_dir: /app
  composer_dsn:
    command: sleep infinity
    image: composer:latest
    volumes:
      - ./vendor:/app/vendor