includes:
    - ../../vendor/ergebnis/phpstan-rules/rules.neon
    - ../../vendor/phpstan/phpstan-strict-rules/rules.neon
    - ../../vendor/spaze/phpstan-disallowed-calls/extension.neon
parameters:
    level: 4
    paths:
        - ../../src
        - ../../tests
    bootstrapFiles:
        - ../../vendor/autoload.php
    ignoreErrors:
        -
            identifiers:
                - expr.resultUnused
                - method.resultUnused
            path: ../../tests
    treatPhpDocTypesAsCertain: false
    ergebnis:
        declareStrictTypes:
            enabled: true
        noNamedArgument:
            enabled: false
        noExtends:
            enabled: false
        noSwitch:
            enabled: false
        noParameterWithNullDefaultValue:
            enabled: false
        noParameterWithNullableTypeDeclaration:
            enabled: false
        noNullableReturnTypeDeclaration:
            enabled: false
        noConstructorParameterWithDefaultValue:
            enabled: false
        finalInAbstractClass:
            enabled: false
        noAssignByReference:
            enabled: false
        final:
            enabled: false
        noParameterWithContainerTypeDeclaration:
            enabled: false