name: Check PHP style

on:
  push:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  php-style-check-jn:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: ./.github/actions/set-up-repository

      - name: Run phpcs
        run: ./check-php-style.sh