name: PHP_CodeSniffer

on:
  push:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  php-codesniffer-jn:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: ./.github/actions/set-up-repository

      - name: Run phpcs
        run: ./dev/php_codesniffer/php_codesniffer.sh