name: PHPStan

on:
  push:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  phpstan-jn:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/set-up-repository

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse -c dev/phpstan/phpstan.neon -qn --no-progress