name: PHPUnit

on:
  push:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  phpunit-jn:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/set-up-repository

      - name: Run test suite
        run: phpunit/run-tests.sh